---
import Header from '../components/Header.astro';

interface SEOProps {
  title: string;
  description: string;
  image: string;
  url: string;
}

const { title, description, image, url } = Astro.props as SEOProps;
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <slot name="head" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B0918K7C3W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-B0918K7C3W');
    </script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-7VjN6qfk4QjWr4QjIh6bcdhWwnY2Cq3nTFGQNKXhQEXHfPx5WYFIBaivJNlqM6" crossorigin="anonymous"></script>
</head>
<body>
    <Header/>
    <slot/>
</body>
</html>